


.#{$prefix}tabbar-mobileNav.#{prefix}toolbar-mobileNav,
.#{$prefix}tab.#{$prefix}active {
     background-color: $base-light-color;
}

$ui: "navigation",
     $background-color: #37474f,
     $item-expander-color: #ffffff,
     $item-expander-width: 24px,
     $item-icon-color: #cfd8dc,
     $item-icon-over-color: #f5f5f5,
     $item-icon-width: 44px,
     $item-text-color: #b0bec5,
     $item-text-font-size: 14px,
     $item-text-icon-gap: 8px,
     $item-text-over-color: #b0bec5,
     $padding: 10px 10px 0px 10px,
     $row-indicator-over-color: #b9f6ca,
     $row-indicator-selected-color: #00e676,
     $row-indicator-width: 5px,
     $row-over-background-color: #546e7a,
     $row-selected-background-color: #263238,
     $row-selected-over-background-color: #263238,
     $tool-indicator-selected-color: #00e676,
     $tool-indicator-selected-width: 5px,
     $tool-selected-background-color: #263238,
     $tool-selected-color: #b0bec5,
     $toolstrip-background-color: #37474f